

<br><br><br>
<!-- 404 Start -->
<div class="container-fluid py-5">
    <div class="container py-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="mb-4">Order confirmation</h1>
                <p class="mb-4">Your order has been successfully confirmed.</p>
                <a class="btn border-secondary rounded-pill py-3 px-5" routerLink="/">Go Back To Home</a>
            </div>
        </div>
    </div>
</div>
<!-- 404 End -->
