<!-- src/app/navbar/navbar.component.html -->
<br><br><br>
<div class="container-fluid fixed-top">
  <div class="container topbar bg-primary d-none d-lg-block">
    <div class="d-flex justify-content-between">
      <div class="top-info ps-2">
        <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">ville nouvelle, Safi, Morocco</a></small>
        <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">formypet&#64;gmail.com</a></small>
      </div>
      <div class="top-link pe-2">
        <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
        <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
        <a href="#" class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
      </div>
    </div>
  </div>
  <div class="container px-0">
    <nav class="navbar navbar-light bg-white navbar-expand-xl">
      <a routerLink="/" class="navbar-brand"><h1 class="text-primary display-6">ForMyPet</h1></a>
      <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars text-primary"></span>
      </button>
      <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
          <a class="nav-item nav-link" routerLink="/">Home</a>
          <a class="nav-item nav-link" routerLink="/shop" >Shop</a>
          <a class="nav-item nav-link" >help</a>
          <a  class="nav-item nav-link" >Contact</a>
        </div>
        <div class="d-flex m-3 me-0">
          <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
          <div *ngIf="isLoggedIn(); else notLoggedIn">
            <a routerLink="/cart" class="position-relative me-4 my-auto">
              <i class="fa fa-shopping-bag fa-2x"></i>
            </a>
            <a (click)="logout()" class="my-auto">
              <i class="fas fa-sign-out-alt fa-2x"></i>
            </a>
          </div>
          <ng-template #notLoggedIn>
            <a routerLink="/auth" class="my-auto">
              <i class="fas fa-user fa-2x"></i>
            </a>
          </ng-template>
        </div>
      </div>
    </nav>
  </div>
</div>
