<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form (submit)="addToOrder()">
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Fullname<sup>*</sup></label>
                                <input type="text" [(ngModel)]="fullname" name="fullname" class="form-control" placeholder="your name">
                            </div>
                        </div>
                    </div>

                    <div class="form-item">
                        <label class="form-label my-3">Address <sup>*</sup></label>
                        <input type="text" [(ngModel)]="address" name="address" class="form-control" placeholder="Your address">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Mobile<sup>*</sup></label>
                        <input type="phone" [(ngModel)]="phone" name="phone" class="form-control" placeholder="Your phone">
                    </div>

                    <hr>

                </div>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Hidden input field for product ID -->
                                <input type="hidden" name="productId" [value]="product.id">
                                <tr *ngFor="let cartitem of cartitems">
                                    <td><img [src]="cartitem.product?.imageUrl" class="img-fluid w-50 rounded-top" alt=""></td>
                                    <td><p class="mb-0 mt-4">{{ cartitem.product?.title }}</p></td>
                                    <td><p class="mb-0 mt-4">{{ cartitem.product?.price }}</p></td>
                                    <td>
                                        <div class="input-group quantity mt-4" style="width: 100px;">

                                            <input type="text" class="form-control form-control-sm text-center border-0" value="{{ cartitem.quantity }}">

                                        </div>
                                    </td>
                                    <td><p class="mb-0 mt-4"> {{ cartitem.total }}
                                        </p></td>

                                </tr>
                            </tbody>
                        </table>

                        <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                            <div class="col-12">
                                <div class="form-check text-start my-3">
                                    <input type="checkbox" class="form-check-input bg-primary border-0" id="Delivery-1" name="Delivery" value="Delivery">
                                    <label class="form-check-label" for="Delivery-1">Cash On Delivery</label>
                                </div>
                            </div>
                        </div>
                        <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                            <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary" >Place Order</button>

                        </div>
                    </div>
            </div>
    </div>
    </form>

    </div>
</div>
<!-- Checkout Page End -->
